<div class='background-image'>
  <img class='background-image__landscape' src='{{ settings.index_image_1 | img_url: "master" }}' alt='Lilith Viper'/>
  <img class='background-image__landscape' src='{{ settings.index_image_2 | img_url: "master" }}' alt='Lilith Viper'/>
  <img class='background-image__landscape' src='{{ settings.index_image_3 | img_url: "master" }}' alt='Lilith Viper'/>
  <img class='background-image__portrait' src='{{ settings.index_image_mobile_1 | img_url: "master" }}' alt='Lilith Viper'/>
  <img class='background-image__portrait' src='{{ settings.index_image_mobile_2 | img_url: "master" }}' alt='Lilith Viper'/>
  <img class='background-image__portrait' src='{{ settings.index_image_mobile_3 | img_url: "master" }}' alt='Lilith Viper'/>
</div>
