{% unless template == 'product' %}
  {% if template == 'index' %}
  <div class='nav nav--index'
    data-rot='{{ settings.index_menu_rotation }}'
    data-y='{{ settings.index_menu_position_y }}'
    data-x='{{ settings.index_menu_position_x }}'
    data-mobile-rot='{{ settings.index_menu_mobile_rotation }}'
    data-mobile-y='{{ settings.index_menu_mobile_position_y }}'
    data-mobile-x='{{ settings.index_menu_mobile_position_x }}' >
  {% else %}
  <div class='nav nav--page'>
  {% endif %}
    <div class='nav__inner'>
      {% unless template == 'index' %}
      <div class='nav__title'><a href='/'>Lilith Viper</a></div>
      {% endunless %}
      <div class='nav__item'><a href="/pages/shop">Shop</a></div>
      <div class='nav__item'><a href="/pages/about">About</a></div>
      <div class='nav__item'><a href="/collections">Collections</a></div>
      <div class='nav__item'><a href="/pages/contact">Contact</a></div>
      {% unless cart.item_count == 0 %}
      <div class='nav__item'><a href='/cart'>Bag ({{ cart.item_count }})</a></div>
      {% endunless %}
    </div>
  </div>
{% endunless %}

{% comment %} mobile nav {% endcomment %}
<div class='mobile-nav-button'>
  <div class='mobile-nav-button__hamburger'>
    <div class='mobile-nav-button__bar'></div>
    <div class='mobile-nav-button__bar'></div>
    <div class='mobile-nav-button__bar'></div>
  </div>
</div>
<div class='mobile-nav'>
  <div class='mobile-nav__item'><a href='/'>Lilith Viper</a></div>
  <div class='mobile-nav__item'><a href="/pages/shop">Shop</a></div>
  <div class='mobile-nav__item'><a href="/pages/about">About</a></div>
  <div class='mobile-nav__item'><a href="/collections">Collections</a></div>
  <div class='mobile-nav__item'><a href="/pages/contact">Contact</a></div>
  {% unless cart.item_count == 0 %}
  <div class='mobile-nav__item'><a href='/cart'>Bag ({{ cart.item_count }})</a></div>
  {% endunless %}
</div>
